<html>
    <head>
        <meta charset="utf-8">
        <title>NetMonintor System</title>
        <link rel="stylesheet" href="{{ url_for( 'static', filename= 'css/bootstrap.min.css' )}}"  >
        <link rel="stylesheet" href="{{ url_for( 'static', filename= 'css/style.css' )}}" >
    </head>
    <div class="container_cus">
        <div>
            <div class="devices_list">

            </div>
            <div class="devices_fuction">
                <button class="button" name="Add_Devices" type="submit">Add Devices</button>
                <button class="button" name="Del_Devices" type="submit">Delete Devices</button>
            </div>
    </div>
</html>